<div class="header">
    <span class="main-logo-size connect-logo-main"></span>
    <div>

    </div>
</div>

<div class="main">
    <p *ngIf="!isDataSummaryReady">
        Data summary is not ready yet. The DHS team will let you know when it is
        ready to download.
    </p>


 <div>
      <p class="text bold">Your CONNECT journey at glance</p>

      <p>This sheet shows you the information you shared with us during the CONNECT study.</p>


      <p>You can use this sheet during the conversations with friends, family, or your care team. It can help you talk about how your daily routines and mood have changed over the year, and what might have contributed to those changes.</p>

      <p>If anything is unclear, please let us know.</p>
 </div>



<div class="border"></div>


 <div>
      <p class=" bold padding-top">Your 12-month pattern</p>

      <p>Each column in the table shows a single type of reading, such as how many hours you slept or how
many steps you walked. Each row of the table lets you see when these numbers went up, went down,
or stayed steady.

      <p>If a month is blank, it doesn’t necessarily mean you did nothing - it might just mean we couldn’t pick
up your numbers that month (e.g., your phone or watch might not have recorded the numbers or sent
the readings).</p>
 </div>


<div class="table-container">
  <table class="custom-table">
    <thead>
      <tr>

                <th>
          <div class="header-cell">
            <!-- Chat bubble icon -->


          </div>
        </th>
        <th>
          <div class="header-cell">
            <!-- Chat bubble icon -->
            <!-- <svg xmlns="http://www.w3.org/2000/svg" class="header-icon social" viewBox="0 0 24 24" fill="currentColor">
              <path d="M20 2H4C2.897 2 2 2.897 2 4v14c0 1.103.897 2 2 2h4v4l5.333-4H20c1.103 0 2-.897 2-2V4C22 2.897 21.103 2 20 2z"/>
            </svg> -->

            <span class=" social-logo " style="height: 60px; width: 60px; background-color: rgba(110, 37, 147, 0.9)"></span>

            <div>
              <div class="title">Social</div>
              <div class="subtitle">Who you were around the most each month</div>
            </div>
          </div>
        </th>
        <th>
          <div class="header-cell">
            <!-- Sleep (moon + stars) icon -->
            <!-- <svg xmlns="http://www.w3.org/2000/svg" class="header-icon sleep" viewBox="0 0 24 24" fill="currentColor">
              <path d="M21 12.79A9 9 0 0111.21 3a7 7 0 1010.58 9.79z"/>
            </svg> -->

            <span class="sleep-logo " style="height: 60px; width: 60px; background-color: rgb(12,132, 143)"></span>

            <div>
              <div class="title">Sleep</div>
              <div class="subtitle">Hours you usually slept each night per month</div>
            </div>
          </div>
        </th>
        <th>
          <div class="header-cell">
            <!-- Location pin icon -->
            <!-- <svg xmlns="http://www.w3.org/2000/svg" class="header-icon whereabouts" viewBox="0 0 24 24" fill="currentColor">
              <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5a2.5 2.5 0 110-5 2.5 2.5 0 010 5z"/>
            </svg> -->

             <span class="whereabouts-logo " style="height: 40px; width: 40px; background-color: rgba(110, 37, 147, 0.9)"></span>

            <div>
              <div class="title">Whereabouts</div>
              <div class="subtitle">How you spent your time</div>
            </div>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let month of months">
        <td class="month">{{ month.name }}</td>
        <td>{{ month.social }}</td>
        <td>{{ month.sleep }}</td>
        <td>{{ month.whereabouts }}</td>
      </tr>
    </tbody>
  </table>
</div>


    <div class="padding-top"></div>








    <div *ngFor="let key of delusionKeys">
        <app-single-row-graph
            [applyCustomColour]="true"
            [longHeading]="true"
            [isSingleRow]="false"
            *ngIf="charts[key]"
            chartId="{{ key }}"
            [chart]="charts[key]"
            title="Statement ({{ delusions[key] }})"
            color="rgba(110, 37, 147, 0.9)"

        ></app-single-row-graph>
    </div>

    <!-- Positive and negative emtions-->
    <app-double-row-graph
        [bothGraphsActive]="
            charts['positive_emotions'] && charts['negative_emotions']
        "
        *ngIf="charts['positive_emotions'] || charts['negative_emotions']"
        title1="Positive Emotions"
        title2="Negative Emotions"
        chartId1="positive_emotions"
        chartId2="negative_emotions"
        [chartGraph1Data]="charts['positive_emotions']"
        [chartGraph2Data]="charts['negative_emotions']"
        css1="positive-logo"
        css2="negative-logo"
        subtitle1="This graph shows how often positive feelings (e.g. fine, in a good mood, relaxed, safe, full of energy) were reported."
        subtitle2="This graph shows how often negative feelings (e.g. low, stressed, wound up, lonely, scared) were reported."
        color="rgb(12,132, 143)"
    ></app-double-row-graph>

    <!-- Dissocitation and stress-->

    <app-double-row-graph
        [bothGraphsActive]="charts['dissociation'] && charts['stress']"
        *ngIf="charts['dissociation'] || charts['stress']"
        title1="Dissociation"
        title2="Stress"
        chartId1="dissociation"
        chartId2="stress"
        css1="dissociation-logo"
        css2="stress-logo"
        [chartGraph1Data]="charts['dissociation']"
        [chartGraph2Data]="charts['stress']"
        subtitle1="This graph shows how often you said you feel detached or ‘unreal’ in a month."
        subtitle2="This graph shows how often you said you felt stressed in the month."
        color="rgba(110, 37, 147, 0.9)"
    ></app-double-row-graph>
    <!-- Hope and mood-->

    <app-double-row-graph
        [bothGraphsActive]="charts['dissociation'] && charts['stress']"
        *ngIf="charts['hope'] || charts['mood']"
        title1="Hope"
        title2="Mood"
        chartId1="hope"
        chartId2="mood"
        css1="hope-logo"
        css2="mood-logo"
        [chartGraph1Data]="charts['hope']"
        [chartGraph2Data]="charts['mood']"
        subtitle1="This graph shows how often you said you have felt upbeat about the future in the month."
        subtitle2="This graph shows how often you said you have felt sad or have not been enjoying things in the month."
        color="rgb(12,132, 143)"
    ></app-double-row-graph>

    <!-- Anxiety and  Self-esteem-->
    <app-double-row-graph
        [bothGraphsActive]="charts['anxiety'] && charts['self_esteem']"
        *ngIf="charts['anxiety'] || charts['self_esteem']"
        title1="Anxiety"
        title2="Self esteem"
        chartId1="anxiety"
        chartId2="self_esteem"
        [chartGraph1Data]="charts['anxiety']"
        [chartGraph2Data]="charts['self_esteem']"
        css1="anxiety-logo"
        css2="selfesteem-logo"
        subtitle1="This graph shows how often you said you felt worried, nervous or anxious in the month."
        subtitle2="This graph shows how often you said you have not been feeling good about yourself in the month."
        color="rgba(110, 37, 147, 0.9)"
    ></app-double-row-graph>

    <!-- Anxiety and  Self-esteem-->
    <app-double-row-graph
        [bothGraphsActive]="charts['connectedness'] && charts['coping']"
        *ngIf="charts['connectedness'] || charts['coping']"
        title1="Connectedness"
        title2="Coping"
        chartId1="connectedness"
        chartId2="coping"
        [chartGraph1Data]="charts['connectedness']"
        [chartGraph2Data]="charts['coping']"
        subtitle1="This graph shows how often you said you have been close to others or supported by others in the month."
        subtitle2="This graph shows how often you said you have been managing things well in the month."
        css1="connectedness-logo"
        css2="coping-logo"
        color="rgb(12,132, 143)"
    ></app-double-row-graph>

    <!-- Fear of relapse and  Unusual voice-->
    <app-double-row-graph
        [bothGraphsActive]="charts['fear'] && charts['hallucination_hear']"
        *ngIf="charts['fear'] || charts['hallucination_hear']"
        title1="Fear of Relapse"
        subtitle1="(Fear of relapse means feeling anxious or worried about becoming unwell again)"
        title2="Unusual Voices"
        chartId1="fear"
        chartId2="hallucination_hear"
        [chartGraph1Data]="charts['fear']"
        [chartGraph2Data]="charts['hallucination_hear']"
        color="rgba(110, 37, 147, 0.9)"
        subtitle1="This graph shows how often you have been worrying about relapse in the month."
        subtitle2="This graph shows how often you said you had heard voices in the month."
        css1="relapse-logo"
        css2="voices-logo"
    ></app-double-row-graph>

    <!-- Fear of relapse and  Unusual voice-->

    <app-double-row-graph
        [bothGraphsActive]="charts['hallucination_vision'] && charts['threat']"
        *ngIf="charts['hallucination_vision'] || charts['threat']"
        title1="Seeing things"
        title2="Suspiciousness"
        chartId1="hallucination_vision"
        chartId2="threat"
        [chartGraph1Data]="charts['hallucination_vision']"
        [chartGraph2Data]="charts['threat']"

        subtitle1="This graph shows how often you said you have seen things that other people can’t see in the month."
        subtitle2="This graph shows how often you felt like you could not trust others or that you felt like someone or something meant you harm in the month."
        css1="seeing-logo"
        css2="suspiciousness-logo"

        color="rgb(12,132, 143)"
    ></app-double-row-graph>

    <!-- Heart Rate & HRV-->
    <!-- <app-double-row-graph
        [bothGraphsActive]="charts['heart_rate'] && charts['hrv']"
        *ngIf="charts['heart_rate'] || charts['hrv']"
        title1="Heart Rate"
        title2="Heart rate Variability"
        chartId1="heart_rate"
        chartId2="hrv"
        [chartGraph1Data]="charts['heart_rate']"
        [chartGraph2Data]="charts['hrv']"
        color="rgb(12,132, 143)"
        [dataPoint1Data]="averages['heart_rate']"
        dataPoint1Title="Total average"
        dataPoint2Title="Total average"
        dataPoint1SubTitle="beats per minute"
        dataPoint2SubTitle="beats per minute"
        css1="heart-rate"
        css2="hrv-log"
    ></app-double-row-graph> -->


    <app-single-row-graph
        [applyCustomColour]="true"
        *ngIf="charts['heart_rate']"
        logoClass="heart-rate"
        chartId="heart_rate"
        [chart]="charts['heart_rate']"
        title="Heart Rate"
        [showTotal]="true"
        color="rgba(110, 37, 147, 0.9)"
        [totalValue]="averages['heart_rate']"
        [totalAverage]="averages['heart_rate']"
        [showTotalAverage]="true"
        [showMonthlyAverage]="false"
        [totalAverageText]="'Total average'"
         [isSingleRow]="false"
         description1 = "Heart rate is how many times your heart beats in one minute."
    ></app-single-row-graph>



    <app-single-row-graph
        [applyCustomColour]="true"
        *ngIf="charts['hrv']"
        logoClass="heart-rate"
        chartId="hrv"
        [chart]="charts['hrv']"
        title="Heart rate variability"
        [showTotal]="true"
           color="rgb(12,132, 143, 0.9)"

        [totalValue]="averages['hrv']"
        [totalAverage]="averages['hrv']"
        [showTotalAverage]="true"
        [showMonthlyAverage]="false"
        [totalAverageText]="'Total average'"
         description1 = "Heart rate variability is how much the time between each heartbeat changes. It shows how your body can adapt to stress and rest."
         description2 = "A higher heart rate variability (HRV) is usually a good sign – it means your body is relaxed and handling stress well. A lower HRV can mean your body is tired or stressed. It’s normal for HRV to change day to day, so it’s most helpful to look at patterns over time."

    ></app-single-row-graph>


    <app-single-row-graph
        [applyCustomColour]="true"
        *ngIf="charts['activity']"
        logoClass="activity-img"
        chartId="activity"
        [chart]="charts['activity']"
        title="Activity"
        [showTotal]="false"
        color="rgba(110, 37, 147, 0.9)"
        [totalValue]="averages['heart_rate']"
        [totalAverage]="averages['heart_rate']"
        [showTotalAverage]="false"
        [showMonthlyAverage]="false"
        [totalAverageText]="'Total average'"
         description1 = "This graph shows the number of activities (running, walking etc) your wearable has recorded each month."

    ></app-single-row-graph>



    <app-single-row-graph
        [applyCustomColour]="false"
        *ngIf="charts['steps']"
        logoClass="steps-img"
        chartId="steps"
        [chart]="charts['steps']"
        title="Steps"
        [showTotal]="false"
 color="rgb(12,132, 143, 0.9)"
        [totalValue]="stepsAverage"
        [totalAverage]="stepsAverage"
        [showTotalAverage]="false"
        [showMonthlyAverage]="false"
        [totalAverageText]="'Total average'"
        description1 = "This table shows how many steps you typically walked each day per month."

    ></app-single-row-graph>

        <app-single-graph
    [applyCustomColour]="true"
        *ngIf="charts['heart_rate']"
        logoClass="respiratory-img"
        chartId="hrv1"
        [chart]="charts['heart_rate']"
        title="Respiratory rate"
        [showTotal]="false"
        color="rgba(110, 37, 147, 0.9)"
        [totalValue]="averages['heart_rate']"
        [totalAverage]="averages['heart_rate']"
        [showTotalAverage]="false"
        [showMonthlyAverage]="false"
        [totalAverageText]="'Total average'"
         description1 = "The number of breaths you take in one minute (this is usually slower when you’re relaxed, and faster when you’re active or stressed)."
         description2 = "A healthy resting respiratory rate is typically between 12 and 20 breaths per minute. A rate consistently higher than 20 may suggest that your body is under stress, not fully recovered, or unwell. Occasional changes are normal, so it’s important to look at patterns over time rather than single readings."
>
    </app-single-graph>
</div>
