<div *ngIf="allProjects$ | async as projects">
    <label  for="field_clientApp">Select a project</label>
    <select class="form-control" id="field_clientApp" name="client" (change)="selectedProjectName$.next($event.target.value)"
            (change)="changeProject" required>
        <option [ngValue]="null" selected></option>
        <option [ngValue]="project.projectName"
                *ngFor="let project of projects">{{project.projectName}}</option>
    </select>


<div *ngIf="projectWithSubjects$ | async as prn">

            <h4>{{prn.project.projectName}}</h4>

            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th>Subject id</th>
                            <th>Participant id</th>
                            <th>Android Phone</th>
                            <th>Health Connect</th>
                            <th>iOS Phone</th>
                            <th>iOS Health Kit</th>
                            <th>iOS Sensor Kit</th>
                            <th>Fitbit</th>
                            <th>Questionnaire</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="
                                let subject of visibleSubjectsMap[
                                    prn.project.projectName
                                ]
                            "
                        >
                            <td>{{ subject.login }}</td>
                            <td>{{ subject.externalId }}</td>
                            <td>
                                {{ subject.dataLogs?.['PASSIVE_ANDROID_PHONE'] || '-' }}
                            </td>
                            <td>
                                {{ subject.dataLogs?.['PASSIVE_GOOGLE_CONNECT'] || '-' }}
                            </td>
                            <td>
                                {{ subject.dataLogs?.['PASSIVE_IOS_PHONE'] || '-' }}
                            </td>
                            <td>
                                {{ subject.dataLogs?.['PASSIVE_HEALTH_KIT'] || '-' }}
                            </td>
                            <td>
                                {{ subject.dataLogs?.['PASSIVE_SENSOR_KIT'] || '-' }}
                            </td>
                            <td>
                                {{ subject.dataLogs?.['PASSIVE_FITBIT'] || '-' }}
                            </td>
                            <td>
                                {{ subject.dataLogs?.['ACTIVE_QUESTIONNAIRE'] || '-' }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <app-load-more
                [totalItems]="currentProject.totalItems"
                [shownItems]="
                    visibleSubjectsCount[currentProject.project.projectName] ||
                    defaultVisibleCount
                "
                (load)="
                    showMore(
                        currentProject.project.projectName,
                        currentProject.totalItems,
                        currentProject.subjects
                    )
                "
            ></app-load-more>


</div>
</div>


